body {
	margin: 0;
	width: 100vw;
}

div {
	display: flex;
	box-sizing: border-box;
}

.App {
	width: 100%;
	text-align: center;
}

.App-header {
	flex-grow: 1;
	background-color: #282c34;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#deck {
	height: 500px;
	width: 500px;
	background-color: orange;
	padding: 20px;
	flex-direction: column;
	
	.row {
		height: 10%;
		
		.cell {
			border: 1px black solid;
			width: 10%;
			justify-content: center;
			align-items: center;
			
			.chip {
				border-radius: 50%;
				height: 80%;
				width: 80%;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
			}
			
			.white {
				background: radial-gradient(circle at center, white 30%, rgb(150, 150, 150));
			}
			
			.black {
				background: radial-gradient(circle at center, rgb(100, 100, 100), black);
			}
		}
		
		.cell:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}
